body {
	background: #343a40;
	font-family: "palatino", "georgia", arial;
}

nav {
	font-family: "palatino", "georgia", arial;
	padding: 5px;
}

.jumbotron {
	color: #000;
	width: 100%;
	background-color: #28a745;
}

.container-fluid {
	color: #000;
	background-color: #d3d3d3;
	padding: 30px;
	width: 90%;
}

#family {
	border-radius:10%;
	border-color: #000;
	margin: auto;
	margin-right: 10%;
	width:30%;
	height: 30%;
}

#picture {
	border-radius: 10%;
	border-color: #000;
	width: 30%;
	height: 30%;
	margin-left: 10%;
}