body {
	background: #343a40;
}

nav {
	font-family: "helvetica", arial;
	padding: 5px;
}

.container-fluid {
	color: #000;
	background-color: #d3d3d3;
	padding: 30px;
	width: 90%;
}

#picture {
	border-radius: 10%;
	border-color: #000;
	margin-top: 55px;
	margin-left: 300px;
	margin-right: 40px;
}