body {
	background: #fff;
}

nav {
	font-family: "helvetica", arial;
	padding: 5px;
}

.container-fluid {
	padding: 30px;
}

#picture {
	border-radius: 10%;
	border-color: #000;
	margin-top: 55px;
	margin-left: 300px;
	margin-right: 75px;
}